#LinkLook{
    font-family: Tahoma;
    color: #ff2cd5c0;
    font-size: 25    
}

#BackLook{
    background-color: aqua;
}

#TxtLook{
    font-family: Times;
    color: firebrick;
    font-size: 11


}